# ASSIGNMENT-- DATA ANALYST

In [2]:
#Import Library 
import pandas as pd

In [3]:
#Create Table table no.1 ,  This table takes the last connection date by user up through 2017.

table1={'userid':[1,2],'last_connection':['2/8/2017','12/19/2017']}
df1=pd.DataFrame(table1)
df1

   userid last_connection
0       1        2/8/2017
1       2      12/19/2017

In [4]:
#create table no. 2,This table have all of the users/connections from Jan 1st 2018 onward

table2={'userid':[2,2,3],'most_recent':['4/2/2018','5/7/2018','4/6/2018']}
df2=pd.DataFrame(table2)
df2

   userid most_recent
0       2    4/2/2018
1       2    5/7/2018
2       3    4/6/2018

They had a previous connection in last_connection and a connection in the last month in recent_connection

In [5]:
print(pd.merge(df1,df2, on='userid', how='inner'))

   userid last_connection most_recent
0       2      12/19/2017    4/2/2018
1       2      12/19/2017    5/7/2018

They had a previous connection in last_connection but do not have a connection in the last month in recent_connection

In [6]:
print(pd.merge(df1,df2, on='userid', how='left'))

   userid last_connection most_recent
0       1        2/8/2017         NaN
1       2      12/19/2017    4/2/2018
2       2      12/19/2017    5/7/2018

They did not have a previous connection in last_connection but do have a connection in the last month in recent_connection

In [7]:
print(pd.merge(df1,df2, on='userid', how='right'))

   userid last_connection most_recent
0       2      12/19/2017    4/2/2018
1       2      12/19/2017    5/7/2018
2       3             NaN    4/6/2018